body {
  background: rgb(240, 243, 237);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding-left: 50px;
}

button {
  background: #e64c4c;
  color: white;
  cursor: pointer;
}

.ContactForm {
  width: 500px;
  padding-left: 300px;
  height:500px ;
}
